%h3
  %a.get{ :href => project_path(project['id']) }= truncate("#{project['address-1']}, #{project['city']}, #{project['state']} #{project['zip']}", :length => 60)
%div
  %p
    %strong Buyer
    %br
    Asher Kyle Hunt
    %br
    336.596.3588
    %br
    asherhunt@gmail.com
    %br
    %br
    
    %strong Seller
    %br
    Micah Winkelspecht
    %br
    213.804.5376
    %br
    winkelspecht@gmail.com
    %br
    %br
    
    %strong Buyer
    %br
    Asher Kyle Hunt
    %br
    336.596.3588
    %br
    asherhunt@gmail.com
    %br
    %br
    
    %strong Seller
    %br
    Micah Winkelspecht
    %br
    213.804.5376
    %br
    winkelspecht@gmail.com
    %br
    %br