!!!
%html
%head
  %title Escrowsnap
  = stylesheet_link_tag :all
  %link{ :rel=>"stylesheet/less", :href=>"/stylesheets/bootstrap/lib/bootstrap.less"}
  = stylesheet_link_tag 'timelinr'
  %link{ :rel=>"stylesheet/less", :href=>"/javascripts/css/ui-lightness/jquery-ui-1.8.16.custom.css"}
  = javascript_include_tag :defaults, 'jquery', 'jquery-ui','less', 'jquery.timelinr'
  = csrf_meta_tag
  = yield :head
%body
  .topbar
    .container.fixed
      %h3
        %a.logo 
      %ul.nav.secondary-nav
        %li
          %a{ :href => login_path } Logout
        
  #main.container
    .row
      .span3.columns
        = yield :sidebar
      .span13.columns
        = yield
